*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;  /*helps to navigate to a section of the website as mentioned in the navbar*/
}

/* navigation bar =======================================================================================================================================*/
.navbar{
    display: flex; /*flex helps to bring things in a row*/
    align-items: center;
    position: sticky; /*to make the navbar stick to the page  */
    top: 0;
}

.navbar::before{
    content: "";
    /* background-color: #282733; */
    background-color: #001942b5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#logo{
    margin: 5px 10px;
}

#logo img{
    height: 30px;
    margin: 0px 3px; 
    border-radius: 300px;
    width: 30px;
}

.navbar ul{ /*(.abc xyz) means that access xyz which is under the parent abc, not all the xyz in the html code*/
    display: flex;
}

.item{
    height: 100%;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.hover{
    display: block;
    text-decoration: none;
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 14px;
    margin: 0 5px;
}

.hover:hover{
    color: black;
    background-color: white;
}

.translator{
    margin: 0 5px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.goog-te-gadget-simple{
    height: 22px;
}

.goog-te-gadget-simple span{
    display: inline-flex;
}

.goog-te-menu-value{
    padding: 0;
}

.goog-te-gadget-simple span a{
    padding: 0;
}

.goog-te-gadget-simple span a span{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* Home section =========================================================================================================================================*/

#home::before{
    content: "";
    position: inherit;
    background: url(/img/raj-rana-WENBRUAh7W8-unsplash.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;  
    object-fit: cover; 
}

#home{
    height:710px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.home-div{
    width: 90%;
    margin: 0 0 0 20px;
}

.welcome{
    font-size: 5rem;
    text-align: start;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 20px;
}

.content{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 3px;
    font-weight:500;
    line-height: 0.9cm;
}



/* meeting section ==================================================================================================================================*/
#meeting{
    background-color: #f0f4ff;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 75%;
    height: 50%;
}

.information{
    padding: 19px;
    margin: 0 10px;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elements{
    padding: 5px 0;
}

.meeting-h2{
    font-family: 'Montserrat', sans-serif; 
    font-size: 30px;
    text-align: center;
    color: black;
    padding: 0 0 10px 0;
}

.newmeet-btn{
    height: 2rem;
    width: 7rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(0 67 175);
    border: none;
}

.newmeet-btn:hover{
    background-color: #1c42bede;
}

.newmeet-btn a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
}

.meet-id{
    height: 1.7rem;
    padding-left: 5px;
}

.join-btn{
    height: 2rem;
    width: 7rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(0 67 175);
    color: whitesmoke;
    font-size: 1rem;
    border: none;
}

.join-btn:hover{
    background-color: #1c42bede;
}

/* Chat =============================================================================================================================================*/
#chat{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.chat-container{
    width: 75%;
    height: 50%;
    background-color: #f0f4ff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 10px;
    flex-direction: column;
}

.chat-content{
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 3px;
    font-weight:500;
    line-height: 0.9cm;
    margin: 10px;
}

.chat-btn{
    height: 2rem;
    width: 7rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(0 67 175);
    border: none;
    margin-top: 10px;
}

.chat-btn:hover{
    background-color: #1c42bede;
}

.chat-btn a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
}

/* footer ===============================================================================================================================================*/
footer{
    background: rgb(3 26 65);
    color: white;
    padding: 5px;
    height: 25%;
    font-size: medium;
    text-align: center;
}

.foot{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}


/* utility classes ======================================================================================================================================*/


